@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #3498db;
  text-decoration: none;
}
a:hover {
  color: #1d6fa5;
}
/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(212, 208, 202);
    background: rgb(24, 26, 27);
  }
}
 */